@import url('https://fonts.googleapis.com/css?family=Days+One');

@keyframes zoomIn {
    from { transform: scale(0) rotate(90deg); }
    to   { transform: scale(1) rotate(0); }
}

.App {
    text-align: center;
}
